@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

:root {
    --gray1: #333333;
    --gray2: #4F4F4F;
    --gray3: #828282;
    --gray4: #DBDBDB;
    --gray6: #F2F2F2;
    --bluer: #2d9cdb;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    transition: all 0.1ms;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--gray1);
}

header {
    margin-bottom: 200px;
    margin: 42px 52px;
}
main{
    margin: 42px 52px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 104px;
    padding: 10px 0;
}

.logo {
    color: #333;
    font-family: Heebo;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 36px;
}

li a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn_header {
    display: none;
    background: transparent;
    border: none;
}

.conteudo_header {
    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: center;
    text-align: start;
}

.introducao {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.conteudo_header .introducao p {
    color: var(--bluer);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.conteudo_header .introducao h1 {
    color: var(--gray1);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 220px;
}

.img_header img {
    border-radius: 18px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo_header h2 {
    color: var(--gray1);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 220px;
}

.conteudo_header p {
    color: var(--gray2);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 220px;
}

.email {
    margin-left: 220px;
}

.email form {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 100%;
    max-width: 350px;

}

header .email label {
    color: var(--gray3) !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

input {
    padding: 15px;
    color: var(--gray3);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 12px;
    background: var(--gray6);
    cursor: pointer;
    border: none;
    width: 100%;
}

input:focus {
    outline: none;
}

form button {
    padding: 11px 27px;
    border-radius: 12px;
    background: var(--bluer);
    color: var(--gray6);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    left: 255px;
    bottom: 48px;
    border: none;
    cursor: pointer;
}
.works{
    margin-bottom: 241px;
}
.services{
    margin-bottom: 194px;
}

.services h2 {
    color: var(--gray1);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 42px;
}
.services h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.services p{
    color: var(--gray2);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cards{
    display: flex;
    flex-direction: row;
    gap: 42px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 46px 34px;
    box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.10);
    border-radius: 24px;
}
.card:hover{
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.20);
}
.card .img img {
    display: block;
    padding: 16px;
    background: var(--bluer);
    border-radius: 16px;
}
.card .code img{
    background: #27ae60;
}

.card .back img{
    background: #eb5757;
}
.button button{
    background: #E0E0E0;
    padding: 9px 13px;
    color: var(--gray3);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.button button:hover{
    background: var(--bluer);
    color: var(--gray6);
}
.works h2 {
    color: var(--gray1);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.works p{
    color: var(--gray3);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.cards_work{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: flex-end;
    align-content: flex-end;
}
.cards_work .cards_1:nth-child(even){
    margin-bottom: 100px;
}
.cards_1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.works button{
    float: right;
    background: transparent;
    border: none;
    align-items: center;
    display: flex;
}
.works button a{
    text-decoration: none;
    color: var(--bluer);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.img_card img{
    display: block;
    width: 100%;
    border-radius: 24px;
}
.clientis{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    margin-bottom: 196px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.left span{
    color: #EB5757;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.left h2{
    color: var(--gray1);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.left p{
    color: var(--gray2);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.imagens_clientes{
    column-count: 2;
    align-items: center;
    column-gap: 10px;

}
.imagens_clientes img{
    display: block;
    width: 100%;
    border-radius: 24px;
}
.img_1{
    max-width: 260px;
    max-height: 260px;
}
.img_2{
    max-width: 291.429px;
    max-width: 300px;
    margin-top: 5px;
}
.img_3{
    margin-top: 40px;
    max-width: 320px;
    max-height: 320px;
}
.comentarios{
    display: flex;
    flex-direction: column;
    gap: 49px;
}
.comentarios p{
    color: var(--gray1);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.personagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-bottom: 203px;
}
.personagem img{
    display: block;
    width: 100%;
    max-width: 82px;
    max-height: 82px;
}
.personagem span{
    color: var(--gray1);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.personagem p{
    color: var(--gray3);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.descricao{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
footer{
    background: #100E1D;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 42px 52px;
}
.footer .links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links a{
    text-decoration: none;
    color: var(--gray6);
}
.social_links .logo{
    color: var(--gray6);
    margin-bottom: 5px;
}

.email label{
    color: var(--gray6);
}
footer p{
    text-align: center;
    color: var(--gray6);
}
footer p a{
    /* text-decoration: none; */
    color: var(--gray6);
}
@media (max-width: 900px) {
    header{
        margin: 13px 10px;
    }
    main{
        margin: 13px 10px;
    }
    body {
        margin: 0;
    }

    .conteudo_header .introducao h1 {
        margin-left: 0;
    }

    .conteudo_header p {
        width: 100%;
        margin-left: 0;
    }

    .conteudo_header h2 {
        margin-left: 0;
    }

    .email {
        margin-left: 0;
    }

    ul {
        background: #fff;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 60vh;
        margin-left: -100vw;
        transition: 0.1s;
    }

    .btn_header {
        display: block;
    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 42px;
    }
    .cards_work{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .works h2{
        margin-bottom: 48px;
    }
    .cards_work .cards_1:nth-child(even){
        margin-bottom: 0;
    }
    .works button{
        margin-top: 35px;
        float: left;
    }
    .clientis{
        display: flex;
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
        gap: 64px;
    }
}